<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ledamöter och partier</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Ledamöter och partier</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="homepage">Startsida</a></li>
				<li class="active"><a href="members" accesskey="2" title="members">Ledamöter och partier</a></li>
				<li><a href="contact" accesskey="3" title="contact">Kontakta oss</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper">
	<div id="welcome" class="container">

		<div class="title">
		  <h1>Information ledamöter - Moderaterna</h1>
		</div>

		<ul class="members">
				{% for member in members %}
					{%for personer in members.personlista.person %}
						<img src="{{personer.bild_url_192}}" />
						<h2> {{personer.tilltalsnamn }} {{personer.efternamn }} - Födelseår: {{personer.fodd_ar }}</h2>
						<h3> Status: {{personer.status }}</h3>
						<h3> Valkrets: {{personer.valkrets }}</h3>
						{% endfor %}
				{% endfor %}
			</ul>

	<div id="three-column" class="container">
		<div><span class="arrow-down"></span></div>
		<div id="tbox1">
			<div class="title">
				<h2>Lägg till 1</h2>
			</div>
			<p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac suscipit mauris. Proin eu wisi suscipit nulla suscipit interdum.</p>
			<a href="#" class="button">Learn More</a> </div>
		<div id="tbox2">
			<div class="title">
				<h2>Lägg till 2</h2>
			</div>
			<p>Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem semper suscipit eleifend. Donec mattis libero eget urna. Duis  velit ac mauris.</p>
			<a href="#" class="button">Learn More</a> </div>
		<div id="tbox3">
			<div class="title">
				<h2>Lägg till 3</h2>
			</div>
			<p>Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Nullam non wisi a sem suscipit  eleifend.</p>
			<a href="#" class="button">Learn More</a> </div>
	</div>
</div>
<div id="copyright">
	<p>&copy; Skapad av Matilda Sundblom och Elin Feldborg Nielsen. </p>
	<p>Studenter på informationsarkitekturprogrammet, Malmö Högskola </p>
	<p><a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p> <!-- korrigera mellanrum-->
	<ul class="contact"> <!--ta bort lista-->
		<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
	</ul>
</div>
</body>
</html>
