<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ledamöter och partier</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Ledamöter på Twitter</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="homepage">Startsida</a></li>
				<li><a href="members" accesskey="2" title="members">Ledamöter och partier</a></li>
        <li class="active"><a href="twitter" accesskey="4" title="twitter">Twitter</a></li>
				<li><a href="contact" accesskey="3" title="contact">Kontakta oss</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper">
	<div id="welcome" class="container">

		<div class="title">
		  <h1>Kolla vad som skrivs om ledamöterna på Twitter</h1><br>

					<form action="http://twitter.com/search" method="get">
				<p>
						<input type="text" name="search" placeholder="Sök efter ledamot.." required>
						<input class="button" type="submit" value="Sök">
				</p>
			</form>
		</div>

	<div id="twitter">
		{% for status in statuses %}
			<p><strong> {{status.text }} </strong></p>
		{% endfor %}
	</div>

		<div id="three-column" class="container">
			<div><span class="arrow-down"></span></div>
	</div>
		</div>
	</div>
	<div id="copyright">
		<p>&copy; Skapad av Matilda Sundblom och Elin Feldborg Nielsen. </p>
		<p>Studenter på informationsarkitekturprogrammet, Malmö Högskola </p>
	</div>
	</body>
	</html>
